/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: teal;
$--color-text-primary: #303133 !default;
$--color-white: #FFFFFF !default;
$--color-info: #909399 !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

/* input
---------------------------------*/
$--input-height: 36px !default;

/* button
---------------------------------*/
$--button-padding-vertical: 10px !default;

/* menu
---------------------------------*/
/// color||Color|0
$--menu-item-font-color: #333 !default;
/// color||Color|0
$--menu-background-color: #F5F6F9 !default;
$--menu-item-hover-fill: #F5F6F9 !default;

.el-menu {
  .el-menu-item.is-active {
    border-left: 3px solid #008b7d;
    background-color: #F7FCFC;
  }
}

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
